.App {
  text-align: center;
  background-color: rgb(31, 31, 31);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.grid{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error{
  color : whitesmoke;
  position: absolute;
  font-size: 1vw;
  bottom: -3vw;
}

*{
  font-family: "Mukta", sans-serif;
}

.invalidDict{
  color: white;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title{
  color: whitesmoke;
  font-size: 3vw;
  margin: 3vh;
  margin: 0;
}