.App {
  text-align: center;
  background-color: rgb(31, 31, 31);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.grid{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error{
  color : whitesmoke;
  position: absolute;
  font-size: 1vw;
  bottom: -5vw;
}

*{
  font-family: "Mukta", sans-serif;
}

.invalidDict{
  color: white;
}